{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "eslint-config-google",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 7,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "ignore"
        }],
        "max-len": [2, {
          code: 240,
          tabWidth: 4,
        }],
        "require-jsdoc": ["error", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": false,
                "ArrowFunctionExpression": true,
                "FunctionExpression": false
            }
        }]
    }
}
