{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order"
    ],
    "options": {
        "formatter": "stylish"
    },
    "rules": {
        "block-no-empty": null,
        "at-rule-no-unknown": null,
        "max-empty-lines": 2,
        "indentation": 4,
        "selector-pseudo-element-colon-notation": "single",
        "declaration-empty-line-before": null,
        "no-descending-specificity": null,
        "order/properties-order": [
            "content",
            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",
            "display",
            "speak",
            "float",
            "clear",
            "overflow",
            "overflow-x",
            "overflow-y",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "margin-collapse",
            "margin-top-collapse",
            "margin-right-collapse",
            "margin-bottom-collapse",
            "margin-left-collapse",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "font",
            "font-family",
            "font-size",
            "font-smoothing",
            "font-style",
            "font-weight",
            "line-height",
            "letter-spacing",
            "word-spacing",
            "text-align",
            "text-decoration",
            "text-indent",
            "text-overflow",
            "text-rendering",
            "text-size-adjust",
            "text-shadow",
            "text-transform",
            "word-break",
            "word-wrap",
            "white-space",
            "vertical-align",
            "list-style",
            "list-style-type",
            "list-style-position",
            "list-style-image",
            "border",
            "border-collapse",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-color",
            "border-image",
            "border-top-color",
            "border-right-color",
            "border-bottom-color",
            "border-left-color",
            "border-spacing",
            "border-style",
            "border-top-style",
            "border-right-style",
            "border-bottom-style",
            "border-left-style",
            "border-width",
            "border-top-width",
            "border-right-width",
            "border-bottom-width",
            "border-left-width",
            "border-radius",
            "border-top-right-radius",
            "border-bottom-right-radius",
            "border-bottom-left-radius",
            "border-top-left-radius",
            "border-radius-topright",
            "border-radius-bottomright",
            "border-radius-bottomleft",
            "border-radius-topleft",
            "color",
            "background",
            "background-attachment",
            "background-color",
            "background-image",
            "background-position",
            "background-repeat",
            "background-size",
            "background-clip",
            "box-align",
            "box-flex",
            "box-orient",
            "box-pack",
            "box-shadow",
            "box-sizing",
            "opacity",
            "pointer-events",
            "cursor",
            "user-select",
            "clip",
            "quotes",
            "outline",
            "outline-offset",
            "filter",
            "visibility",
            "zoom",
            "backface-visibility",
            "resize",
            "appearance",
            "direction",
            "transform",
            "transition",
            "transition-delay",
            "transition-duration",
            "transition-property",
            "transition-timing-function",
            "animation",
            "animation-delay",
            "animation-duration",
            "animation-iteration-count",
            "animation-name",
            "animation-play-state",
            "animation-timing-function",
            "animation-fill-mode",
        ]
    }
}
